<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TypeList</key>
	<dict>
		<key>avi</key>
		<integer>10</integer>
		<key>bmp</key>
		<integer>5</integer>
		<key>doc</key>
		<integer>6</integer>
		<key>docx</key>
		<integer>6</integer>
		<key>epub</key>
		<integer>3</integer>
		<key>flv</key>
		<integer>10</integer>
		<key>gif</key>
		<integer>14</integer>
		<key>jpeg</key>
		<integer>5</integer>
		<key>jpg</key>
		<integer>5</integer>
		<key>mov</key>
		<integer>10</integer>
		<key>mp3</key>
		<integer>1</integer>
		<key>caf</key>
		<string>1</string>
		<key>mp4</key>
		<integer>10</integer>
		<key>mpeg</key>
		<integer>10</integer>
		<key>mpg</key>
		<integer>10</integer>
		<key>pdf</key>
		<integer>2</integer>
		<key>png</key>
		<integer>4</integer>
		<key>pps</key>
		<integer>10</integer>
		<key>ppsx</key>
		<integer>8</integer>
		<key>ppt</key>
		<integer>8</integer>
		<key>pptm</key>
		<integer>8</integer>
		<key>rm</key>
		<integer>10</integer>
		<key>rmvb</key>
		<integer>10</integer>
		<key>rtf</key>
		<integer>13</integer>
		<key>tiff</key>
		<integer>5</integer>
		<key>txt</key>
		<integer>12</integer>
		<key>wma</key>
		<integer>10</integer>
		<key>wmv</key>
		<integer>10</integer>
		<key>xls</key>
		<integer>7</integer>
		<key>xlsx</key>
		<integer>7</integer>
		<key>xltm</key>
		<integer>7</integer>
		<key>xltx</key>
		<integer>7</integer>
		<key>zip</key>
		<integer>9</integer>
	</dict>
</dict>
</plist>
