<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arrowImage</key>
	<string>dirbtn1.png</string>
	<key>backgroundImage</key>
	<string>bg_add.png</string>
	<key>item</key>
	<array>
		<string>新建文件夹</string>
		<string>新建文本文档</string>
		<string>拍照保存</string>
		<string>录制音频</string>
		<string>录制视频</string>
		<string>导入相簿</string>
	</array>
	<key>itemIcon</key>
	<array>
		<string>newFolder.PNG</string>
		<string>newTXT.png</string>
		<string>photo.PNG</string>
		<string>recording.png</string>
		<string>voiceRecording.PNG</string>
		<string>fromLibrary.PNG</string>
	</array>
	<key>selectors</key>
	<dict>
		<key>删除</key>
		<string>doDelete</string>
		<key>压缩</key>
		<string>doZip</string>
		<key>发送邮件</key>
		<string>doMail</string>
		<key>名称倒序</key>
		<string>sortByNameDesc</string>
		<key>名称正序</key>
		<string>sortByNameAsc</string>
		<key>复制</key>
		<string>doCopy</string>
		<key>大小倒序</key>
		<string>sortBySizeDesc</string>
		<key>导入歌曲</key>
		<string>addMusic</string>
		<key>导入相簿</key>
		<string>addPicturesOrVideos</string>
		<key>录制视频</key>
		<string>showCamcorder</string>
		<key>录制音频</key>
		<string>recordAudios</string>
		<key>拍照保存</key>
		<string>showCamera</string>
		<key>新建文件夹</key>
		<string>addFolder</string>
		<key>新建文本文档</key>
		<string>addTXT</string>
		<key>日期倒序</key>
		<string>sortByDateDesc</string>
		<key>日期正序</key>
		<string>sortByDateAsc</string>
		<key>条形码</key>
		<string>scanButtonTapped</string>
		<key>浏览器</key>
		<string>showWebView</string>
		<key>移动</key>
		<string>doMove</string>
		<key>类型</key>
		<string>sortByType</string>
		<key>重命名</key>
		<string>doRename</string>
		<key>共享</key>
		<string>doShare</string>
	</dict>
</dict>
</plist>
